name: Build and Test
on: [push, pull_request]
jobs:
  build:
    name: Go CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.16, 1.17]
    steps:
      - name: Set up Go
        uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab #v3.0.0
        with:
          go-version: ${{ matrix.go }}
      - name: Check out source
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 #v3.0.0
      - name: Install linters
        run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.45.2"
      - name: Build
        env:
          GO111MODULE: "on"
        run: go build ./...
      - name: Lint
        env:
          GO111MODULE: "on"
        run: golangci-lint run --disable-all --deadline=10m --enable=gofmt --enable=govet --enable=gosimple --enable=unconvert --enable=ineffassign
      - name: Test
        env:
          GO111MODULE: "on"
        run: go test -v ./...
